.loadDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 999;
    background-color: #282c34;
    box-sizing: border-box;
    background: rgb(48, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}

#visible {
    /* Displayed state with fade-in effect */
    transition: opacity 0.5s ease-in-out; 
    opacity: 0.8;
}

#imageCanvas{
    transform: scale(1), scaleX(1), scaleY(1), rotate(0deg);
    max-height: 80vh;
  }